<h1>All products</h1>
<%= form_tag "/products" , method: :get do %>
  <input type="text" class="form-control" placeholder="search by first or last name" name="search">
  <input type="submit" class="btn btn-default" value="Search">
<% end %>
<% @products.each_slice(3) do |three_products| %>
  <div class="row">
    <% three_products.each do |product|%>
      <div class="col-md-4">
        <div  class="well">
          <a href="/products/<%= product.id %>" name=<%= product.id %>>
            <h1><%= "#{product.name}" %></h1>
          </a>
          <p><%= product.description %></p>
          <img class="product-image" src=<%= product.images[0].url %> name=<%= product.id %>>
        </div>
      </div>
    <% end %>
  </div>
<% end %>