<h1><%= @search_name.capitalize %> Products</h1>
<%= form_tag "/products/search" , method: :post do %>
  <input type="text" class="form-control" placeholder="search by first or last name" name="search_name">
  <input type="submit" class="btn btn-default" value="Search">
<% end %>
<% @products.search(@search_name).each_slice(3) do |three_products| %>
<div class="row">
  <% three_products.each do |product|%>
    <div class="col-md-4">
      <div class="well">
        <h1><%= "#{product.name}" %></h1>
        <a href="/show/<%= product.id %>">
          <img class="product-image" src=<%= product.images[0].url %> name=<%= product.id%>>
        </a>
        <p><%= product.description %></p>
      </div>
    </div>
  <% end %>
</div>
<% end %>
