<div class="row">
  <div class="col-md-6">
    <div style="min-height: 250px;" class="well">
    <h1 class="show-name"><%= "#{@product.name}" %></h1>
    </div>
  </div>
  <div class="col-md-6">
    <div style="min-height: 250px;" class="well">
      <div class="col-md-6">
        <div style="float:left; width:100%; min-height:100px;" class="well">
          <% if @product.discount? %>
            <p class="discount-item">Discount item!!</p>
          <% else %>
            <p>Everyday value!</p>
          <% end %>
          <%= "cost: $#{@product.price}" %><br>
          <%= "tax: $#{@product.tax}" %><br>
          <%= "total: $#{@product.total}" %><br>
          <sub><b>Supplied by: </b><%= @product.supplier.name %></sub><br>
          <sub><b>Categories: </b></sub>
          <% @product.categories.each do |category| %>
            <% if @product.categories.size == 1 %>
              <sub><a href="/products?category=<%= category.name %>"><%= "#{category.name} " %></a></sub>
            <% elsif category == @product.categories[(@product.categories.size - 2)] %>
              <sub><a href="/products?category=<%= category.name %>"><%= "#{category.name} " %></a> and </sub>
            <% elsif category == @product.categories[(@product.categories.size - 1)] %>
              <sub><a href="/products?category=<%= category.name %>"><%= "#{category.name} " %></a></sub>
            <% else %>
              <sub><a href="/products?category=<%= category.name %>"><%= "#{category.name} " %></a>, </sub>
            <% end %>
          <% end %><br>
        <!--   <sub><b>Categories: </b><%= @product.list_categories %></sub> -->
        </div>
      </div>
      <div class="col-md-6">
        <div style="float:right; width: 100%; min-height:100px;" class="well">
          <% if current_user.admin == 1 %>
            <a class="btn btn-default" href="/products/new?new_type=image&id=<%=@product.id%>">Add image</a><br>
            <a class="btn btn-default" href="/products/<%=@product.id%>/edit?edit_type=product">Edit product</a><br>
            <%= form_tag "/products/#{@product.id}", method: :delete do %>
              <input class="btn btn-default" type="submit" value="Delete Product">
            <% end %>
          <% else %>
            Quantity:
            <%= form_tag "/carted_products/#{@product.id}", method: :post do %>
              <input style="width:50%;" class="form-control" type="text" name="quantity">
              <input type="hidden" name="product_id" value=<%= @product.id %>>
              <input style="width:50%;" class="btn btn-default" type="submit" value="Add to cart">
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% @product.images.each_slice(4) do |three_images| %>
  <div class="row">
    <% three_images.each do |image|%>
      <div class="col-md-3">
        <div style="min-height: 50px;" class="well">
          <img class="show-page-img" src=<%= image.url %>>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="show-links">
</div>
